<web-app id="WebApp_ID" version="2.4"
	schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>download</display-name>
	<description>download</description>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>

		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>

		<init-param>
			<param-name>listings</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>destination</param-name>
			<param-value>/tmp</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>